# Python
.venv/
__pycache__/
*.py[cod]
*.pyo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

docu.txt

data/raw/phishing.csv
data/processed/phishing_clean.csv
data/processed/combined_urls.csv

PROJECT_LOG.txt